Repository HamedFathi/StartToReact: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write

fix: lintstaged config
  .lintstagedrc.json
Due: none

feat: dotenv for playwright is enabled.
  .eslintrc.cjs
  .lintstagedrc.json
  .prettierrc.cjs
  package.json
  playwright.config.ts
  src/App.test.tsx
  src/setupTests.ts
  tsconfig.json
Due: eslint, prettier --write

fix: package.json
  .gitignore
  analytics.html
  package.json
Due: prettier --write

fix: package.json
  package-lock.json
  package.json
Due: none

fix: router
  src/App.test.tsx
  src/App.tsx
  src/pages/Home.tsx
  src/pages/NotFound.tsx
Due: eslint, prettier --write

feat: debugging tasks added.
  package-lock.json
  package.json
Due: none

feat: json-server added.
  db.json
  package-lock.json
  package.json
  tailwind.config.js
Due: eslint, prettier --write

feat: vanillaExtractPlugin added
  package-lock.json
  package.json
  postcss.config.mjs
  src/pages/Home.css.ts
  src/pages/Home.tsx
  src/theme.css.ts
  tsconfig.json
  vite.config.ts
Due: eslint, prettier --write

feat: mdx support added.
  package-lock.json
  package.json
  vite.config.ts
Due: eslint, prettier --write

Path conditions:
  eslint: any of: *.{js,ts,jsx,tsx}
  prettier --write: (any of: *.{js,ts,jsx,tsx}) or (any of: *.{html,css,scss})
